.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.list-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 20px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.list-heading {
  color: #000000;
  font-family: roboto;
  font-size: 20px;
}

.list-para {
  color: #64748b;
  font-family: roboto;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .list-container {
    flex-basis: 40%;
  }
}